venv/
__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
.vscode/
.idea/
**/*.swp
**/*.swo
**/*.log

!my_finetuned_model_lab3/config.json
!my_finetuned_model_lab3/tokenizer.json
!my_finetuned_model_lab3/tokenizer_config.json
!my_finetuned_model_lab3/vocab.json
!my_finetuned_model_lab3/merges.txt
!my_finetuned_model_lab3/special_tokens_map.json